*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}
body {
    background-image: linear-gradient(to right, #000000, #532623, #975420, #bb9900, #a8eb12);
}
.header{
    font-size: 84px;
    color: darkgrey;
    display: flex;
    justify-content: center;
}
.section{
    background-color: darksalmon;
    text-align: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 60px;
    border-top-right-radius: 80px;
    padding: 30px;
    font-size: 22px;
    margin-top: 100px;
    margin: 20px;
    height: 500px;
}
.next{
    display: flex;
    justify-content: center;
}
button{
    font-size: 34px;
    background-color:deepskyblue;
    outline: none;
    padding: 30px;
    border-radius: 30px;
    border-color: gold;
    box-shadow: 10px 10px 30px rgb(214, 10, 225);
    margin-top: 100px;
    text-decoration: none;
}