*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive,sans-serif;
    color: black;
}
body{
    background-color: rgb(83, 231, 145);
}
h1{
    font-size: 50px;
    text-align: center;
}
#main{
    display: grid;
    place-content: center;
    background-color: white;
    margin: 50px;
    font-size: 45px;
    padding: 20px;
    border-radius: 20px;
}
.contain{

}
.start{
    text-align: center;  
    margin-bottom: 100px;
}
a{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
}